<mat-form-field class="example-chip-list">
  <mat-label>{{label}}</mat-label>

  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let item of selectedItems"
      [selectable]="false"
      [removable]="true"
      (removed)="remove(item)">
      {{item.title}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>

    <input
      placeholder="type to add..."
      #inputEl
      [formControl]="control"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="checkAdd($event)">
  </mat-chip-list>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let item of filteredItems$ | async" [value]="item.title">
      {{item.title}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
