<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav opened="true" #snav mode="over" [style]="{padding: '16px'}">
    <app-filters-panel></app-filters-panel>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-container>
      <div fxLayout="column" fxLayoutGap="8px">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <app-total-panel [items]="[
            {content: 'Total contributors: 0'},
            {content: 'Total items: 0'},
            {content: 'Total videos: '+resultsLength, badge: '15'},
          ]">

          </app-total-panel>

          <div>
            <form>
              <mat-form-field>
                <mat-label>Search</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <input type="search" matInput [formControl]="searchControl">
              </mat-form-field>
            </form>
          </div>
        </div>

        <app-assets-datagrid [dataSource]="dataSource"
                             [selection]="selection"
                             [resultsLength]="resultsLength"
                             [beforeDisplayedColumns]="beforeDisplayedColumns"
                             [afterDisplayedColumns]="afterDisplayedColumns"
                             [extraColumns]="[
                                {
                                  id: 'contributor',
                                  headerTpl: 'Contributor',
                                  hasSort: true,
                                  cellTpl: extraColumnContributor
                                },
                                {
                                  id: 'series',
                                  headerTpl: 'Series',
                                  hasSort: true,
                                  cellTpl: extraColumnSeries
                                },
                                {
                                  id: 'settings',
                                  headerTpl: '',
                                  hasSort: false,
                                  cellTpl: extraColumnSettings
                                }
                              ]"
                             (onPageChange)="onPageChange.next($event)"
                             (onSortChange)="onSortChange.next($event)"
                             (onToggleClick)="onSidenavToggle()"
        >
          <ng-template #extraColumnContributor let-item>
            {{item.contributor.name}}
          </ng-template>

          <ng-template #extraColumnSeries let-item>
            <app-split-table-cell [upperText]="item.name"
                                  buttonText="View Videos"
                                  [buttonLink]="'../album/'+item.id"
            >
              {{item.videosCount}} videos
              <mat-divider [vertical]="true" [style]="{display: 'inline'}"></mat-divider>
              {{item.seriesCount}} series
              <mat-divider></mat-divider>
            </app-split-table-cell>
          </ng-template>

          <ng-template #extraColumnSettings let-item>
            <mde-popover #appPopover="mdePopover" [mdePopoverCloseOnClick]="false">
              <mat-card>
                <form fxLayout="column">
                  <h4>Video Position</h4>

                  <mat-form-field>
                    <mat-label>Page</mat-label>
                    <input matInput type="number">
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Line</mat-label>
                    <input matInput type="number">
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Player</mat-label>
                    <input matInput type="number">
                  </mat-form-field>
                </form>
              </mat-card>
            </mde-popover>

            <button mat-icon-button color="primary" [mdePopoverTriggerFor]="appPopover">
              <mat-icon>settings</mat-icon>
            </button>
          </ng-template>

        </app-assets-datagrid>

      </div>
    </app-container>
  </mat-sidenav-content>
</mat-sidenav-container>
