<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav opened="true" #snav mode="over" [style]="{padding: '16px'}">
    <app-filters-panel></app-filters-panel>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-container>
      <div fxLayout="column" fxLayoutGap="8px">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxLayout="row" fxLayoutAlign="space-between center" class="mat-elevation-z8">
            <div [style]="{margin: '8px'}">Total contributors: 0</div>
            <mat-divider vertical="true" [style]="{height: '100%'}"></mat-divider>

            <div [style]="{margin: '8px'}">Total items: 0</div>
            <mat-divider vertical="true" [style]="{height: '100%'}"></mat-divider>

            <div [style]="{margin: '8px'}" matBadge="15" matBadgeColor="warn" matBadgeOverlap="false">Total videos: {{resultsLength}}</div>
          </div>

          <div>
            <form>
              <mat-form-field>
                <mat-label>Search</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <input type="search" matInput>
              </mat-form-field>
            </form>
          </div>
        </div>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort
                 cdkDropList (cdkDropListDropped)="dragEnabled=false;"
          >
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                ></mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                ></mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="thumbnail">
              <th mat-header-cell *matHeaderCellDef>
                <button mat-icon-button (click)="snav.toggle()">
                  <mat-icon>filter_list</mat-icon>
                </button>
              </th>
              <td mat-cell *matCellDef="let item">
                <img [src]="item.thumbnail" [style]="{width: '100px'}"/>
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let item"> {{item.name}} </td>
            </ng-container>

            <ng-container matColumnDef="contributor">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Contributor </th>
              <td mat-cell *matCellDef="let item"> {{item.contributor}} </td>
            </ng-container>

            <ng-container matColumnDef="album">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Album </th>
              <td mat-cell *matCellDef="let item">
                <app-split-table-cell *ngIf="item.album" [upperText]="item.album.name" buttonText="View Videos">
                  {{item.album.assets.length}} videos
                  <mat-divider></mat-divider>
                </app-split-table-cell>
              </td>
            </ng-container>

            <ng-container matColumnDef="uploadDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Upload Date </th>
              <td mat-cell *matCellDef="let item"> {{item.uploadDate.toLocaleString()}} </td>
            </ng-container>

            <ng-container matColumnDef="shareCount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> <mat-icon>share</mat-icon> </th>
              <td mat-cell *matCellDef="let item">
                <app-split-table-cell [upperText]="item.shareCount" buttonText="Share"></app-split-table-cell>
              </td>
            </ng-container>

            <ng-container matColumnDef="downloadCount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> <mat-icon>file_download</mat-icon> </th>
              <td mat-cell *matCellDef="let item">
                <app-split-table-cell [upperText]="item.downloadCount" buttonText="Download"></app-split-table-cell>
              </td>
            </ng-container>

            <ng-container matColumnDef="linkCount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> <mat-icon>link</mat-icon> </th>
              <td mat-cell *matCellDef="let item">
                <app-split-table-cell [upperText]="item.linkCount" buttonText="Create Link"></app-split-table-cell>
              </td>
            </ng-container>

            <ng-container matColumnDef="play">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> <mat-icon>visibility</mat-icon> </th>
              <td mat-cell *matCellDef="let item">
                <app-split-table-cell [upperText]="item.play.count" buttonText="Play" (onClick)="handlePlayClick(item.play.url)"></app-split-table-cell>
              </td>
            </ng-container>

            <ng-container matColumnDef="settings">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let item">
                <mde-popover #appPopover="mdePopover" [mdePopoverCloseOnClick]="false">
                  <mat-card>
                    <form fxLayout="column">
                      <h4>Video Position</h4>

                      <mat-form-field>
                        <mat-label>Page</mat-label>
                        <input matInput type="number">
                      </mat-form-field>

                      <mat-form-field>
                        <mat-label>Line</mat-label>
                        <input matInput type="number">
                      </mat-form-field>

                      <mat-form-field>
                        <mat-label>Player</mat-label>
                        <input matInput type="number">
                      </mat-form-field>
                    </form>
                  </mat-card>
                </mde-popover>

                <button mat-icon-button color="primary" [mdePopoverTriggerFor]="appPopover">
                  <mat-icon>settings</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let item">
                <button mat-icon-button [disabled]="!isRowSelected(item)" color="warn">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="reorder">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let item" cdkDragHandle>
                <button mat-icon-button [disabled]="!isRowSelected(item)" (mousedown)="dragEnabled = true;">
                  <mat-icon>reorder</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

            <tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragDisabled]="!dragEnabled"></tr>
          </table>

          <mat-paginator [length]="resultsLength" [pageSize]="15"></mat-paginator>
        </div>
      </div>
    </app-container>
  </mat-sidenav-content>
</mat-sidenav-container>
